.general-info-section {
  max-width: 1200px;
  margin: 4rem auto;
  padding: 0 1rem;
}

.next-up-banner {
  text-align: left;
  padding-bottom: 4rem;
  margin-left: -5rem;
}

.next-up-banner h2 {
  font-size: 2.25rem;
  font-weight: 400;
  color: white;
  line-height: 1.4;
  letter-spacing: 0.5px;
  margin: 0;
}

.next-up-banner h2 span {
  color: #36a4d6;
}

.vision-button,
.see-events-button {
  display: inline-block;
  margin-top: 1.5rem;
  margin-right: 1rem;
  padding: 0.6rem 1.4rem;
  font-size: 0.95rem;
  font-weight: 500;
  border: 2px solid white;
  color: white;
  background: transparent;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

.vision-button:hover,
.see-events-button:hover {
  background-color: white;
  color: black;
}

@media (max-width: 768px) {
  .next-up-banner {
    margin-left: 0;
    text-align: center;
    padding-left: 1rem;
  }

  .next-up-banner h2 {
    font-size: 1.75rem;
  }

  .vision-button,
  .see-events-button {
    display: block;
    margin: 1rem auto 0 auto;
  }
}

.general-info-grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  text-align: center;
}

@media (max-width: 768px) {
  .general-info-grid {
    grid-template-columns: 1fr;
  }
}

.general-info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.general-info-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
}

.general-info-title {
  font-size: 1.5rem;
  font-weight: 800;
  margin-top: 1rem;
  color: white;
}

.general-info-text {
  font-size: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 4rem;
  max-width: 300px;
  color: white;
  line-height: 1.6;
}

.learn-more-link {
  color: #36a4d6;
  text-decoration: underline;
  font-weight: 500;
  margin-top: -3rem;
  margin-bottom: 3rem;
  display: inline-block;
}

.learn-more-link:hover {
  text-decoration: none;
  color: #fbbf24;
}